
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="icon" href="/img/weather.jpg">

    </head>
    <body>
        <div class="div-main-content">
            {{>header}}
            <div id="flexbox">
                <img class="portrait" src="/img/cesrobot.jpg">
                <div id="flexbox2">
                    <h2>Wheater app was made in node.js and is hosted on heroku </h2>
                    <h3>In this projection was used those dependencies:</h3>
                    <h3>"express": "^4.16.4", <br>"hbs": "^4.0.1", <br>"request": "^2.88.0"</h3>
                    <h4>Source code => github: @apiasecki93</h4>
                </div>
                
            </div>
        
        </div>
        {{>footer}}
    </body>
</html>