
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="icon" href="/img/weather.jpg">

    </head>
    <body>
        <div class="div-main-content">
            {{>header}}
            <div id="flexbox">
                {{!-- <img class="portrait" src="/img/concept.webp"> --}}
                <div id="flexbox2">
                    <h2>Wheater app was made in node.js and is hosted on heroku </h2>
                    
                        <h3 class="removePadding">Dependencies:</h3>
                        <h3 class="removePadding">
                            <div id="inline"><div class="blue">"express" </div> : <div class="orange">"^4.16.4",</div></div>
                            <div id="inline"><div class="blue">"hbs"</div>:<div class="orange">"^4.0.1",</div></div>
                            <div id="inline"><div class="blue">"request"</div>:<div class="orange">"^2.88.0"</div></div>
                        </h3>
                    
                        <h3 class="removePadding2">API's:</h3>
                        <h3 class="removePadding">api.weatherstack.com, <br>api.mapbox.com, <br>maps.googleapis.com</h3>
                    
                    
                    <h4>Source code => github: @apiasecki93</h4>
                </div>
                
            </div>
        
        </div>
        {{>footer}}
    </body>
</html>