<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="icon" href="/img/weather.jpg"

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h4> Troubels? Reach me up via e-mail: <button class="emailReplyButton" onclick={parent.location='mailto:apiasecki93@gmail.com'} style ="cursor:pointer" >Mail me</button></h4>
    
        </div>
        
        {{>footer}}
    </body>
</html>

